#sectores .navbar-portal, #sectores h1, #sectores .portal-header nav{
   background-color: #ffffff;
   color: #557deb;
   }
    body {
        padding-top: 0px !important;
    }

    

  

   ul#menu a, h2, h3, p a, h2 a, .breadcrumb a{

      color:#557deb !important;
    }
   
    ul#menu h2 {
        background: #E81B16;
        color: white;
    }

    .dropdown {
        display: block;
    }

    .dropdown-menu {
        display: none;
        margin: 0;
        /* arregla el gap de 2px*/
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        padding: 1em;
    }

    .fase {
        background-color: #202020;
        color: #fff;
        font-weight: bold;
    }

    ul#menu {
        /*border-bottom: 2px solid #E81B16;*/
        border: 1px solid #CCC;
        font-weight: bold;
        margin-bottom: 1em;
        border-radius: 0 0 .5em .5em;
    }

    ul#menu .elemento {
        display: block;
        padding: 10px 15px;
        margin: 0;
        font-size: 1em;
        font-weight: bold;
        line-height: 1.42857143;
        /* h2 line-height == a line-height*/
    }

    ul#menu h2 {
        background: #E81B16;
        color: white;
    }

    @media (max-width: 768px) {
        .listado-equipamiento>li {
            width: 20em;
        }
    }

    .cabecera {
	width: 20%;
        margin-top: -5px;
        margin-bottom: 1em;
        border-radius: .5em .5em .5em .5em;
    }

    .full-screen-box {
        text-align: left;
        width: 100%;
	height: 300px;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 14px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
.full-screen-box-recome {
        text-align: left;
        width: 100%;

        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 14px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
          border-bottom: 3px solid #557deb;1
    }

    .full-screen-box {
        border-bottom: 3px solid #557deb;1
    }
    
